*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }

h1, h2{
  margin: 0;
  color: #08415c;
}

.cluepage > h1{
  margin-bottom: 2%;
}

body{
    border-left: solid #08415c 10px;
    border-top: solid #08415c 10px;
    border-radius: 10px;
    min-height: 99vh;
    display: grid;
    
}

.box {
    /* background-color: lightgray; */
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3%;
}

/* logo only header */
.header{
    grid-area: header;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: #08415c solid 0.3em;
    align-self: baseline;
}

/* logo w/nav buttons */
.navhd{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.backarrow{
    height: 2em;
    width: 2em;
}

.nextarrow{
    height: 2em;
    width: 2em;
}

/* Footer placeholder */
.footer{
    grid-area: footer;
    align-self: end;
    padding-bottom: 3%;
}

/* index page template LAYOUT */
.indexpage{
    grid-template-areas:"header"
                        "box1"
                        "box2"
                        "box3"
                        "box4"
                        "footer"
    ;
}

.endingpg{
  grid-template-rows: 0.6fr 0.4fr 1fr 0.25fr;
}

.box1{
  grid-area:box1;
}

.box2{
  grid-area:box2;
}

.box3{
  grid-area:box3;
}

.box4{
  grid-area:box4;
}

/* game/clue page template */
.gamepage{
    grid-template-rows: 0.6fr 0.4fr 0.25fr 1.5fr 0.25fr 0.25fr;
    grid-template-areas:"header"
                        "points"
                        "higher"
                        "quiz"
                        "lower"
                        "footer"
    ;
}

.cluepage{
    grid-template-rows: 0.6fr 0.4fr 2fr 0.25fr;
    grid-template-areas:"header"
                        "points"
                        "quiz"
                        "footer"
    ;
}

.login {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 3%;
}

.points{
    grid-area: points;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
}

.higher{
    grid-area: higher;
    height: 2.2em;
    align-self: center;
}

.lower{
    grid-area: lower;
    height: 2.2em;
    align-self: center;
}

/* quiz class will have nested grid - need to flesh this out with the team... */
.infobox{
    background-color: #bfe3fa;
    font-size: 0.7em;
    text-align: left;
    align-self: center;
    padding: 3%;
}

.gamepage > .infobox{
    grid-area: quiz;
}
.indexpage > .infobox{
    margin-top: 5%;
    margin-bottom: 5%;
}
.cluepage > .infobox{
  grid-area: quiz;
  text-align: center;
  align-self: stretch;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.endingpg > .infobox{
  text-align: center;
  align-self: stretch;
  align-content: center;
  padding-top: 15%;
  padding-bottom: 15%;
  margin-top: 2%;
  margin-bottom: 0;
}

/* formating for input fields */
.input {
  border:#3891a6 solid;
  border-radius: 15px;
  align-content: center;
  text-align: center;
  margin: 3%;
}

/* all the various buttons CSS */

a {
  text-decoration: none;
}

button{
  cursor: pointer;
  text-align: center;
  background-color:white;
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: bolder;
  border:#3891a6 solid;
  box-shadow: 2px 3px darkgray;
}

.button {
  width: 230px;
  height: 75px;
  color: black;
 }

 .nextbtn{
  width: 7em;
  padding: 5%;
  color: #08415c;
 }

 .cluepointbtn {
  width: 75px;
  height: 50px;
  padding: 0.5%;
  font-size: 1em;
  border: none;
  box-shadow: none;
  color: #08415c;
 }

 .hilobtn{
   width: 100%;
   height: 100%;
   border: darkgrey solid;
   box-shadow: none;
 }

 .idbutton {
  width: 230px;
  height: 50px;
  cursor: pointer;
  color: black;
}

.beginbtn{
  width: 400px;
  border: none;
  box-shadow: none;
}

.button:hover {background-color: #535753}
 
.button:active {
   background-color: #535753;
   box-shadow: 0 1px rgb(179, 179, 179);
   transform: translateY(4px);
 }

/*James' Edits*/
#map {
	width: 70vw;
  height: 50vh;
  margin-top: 5%;
  margin-bottom:5%;
	background-color: white;
	box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
}

.welcomepg {
  background-image: url("images/storm-1209365_1280.jpg");
  grid-template-areas: "." 
                       "."
                       "."
                       "."
                       "logo"
                       "begin"
                       ;
  
}

.logo{
  grid-area: logo;
  width: 150px;
  height: 100px;
  padding-left: 20%;
  padding-right: none;
  padding-top: 30%;
  padding-bottom: none;
  margin-bottom: none;
}

.begin{
  width: 300px;
  height: 40px;
  text-align: left;
  margin-top:5%;
  padding-left: 20%;
  grid-area: begin;
}













































/* .content {
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin: 5px;
}

body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: darkgray;
  max-height: 800px;
}

h1, p {
  margin: 0 0 1em 0;
} */

/* The wrapper element is the parent element controlling the core grid display. There are sub-classes underneath that specialise the grid display for each page as required. Please do not mess around with these as there is still some tweaking to do on these to finese the layout

.grid{
  display: grid;
  min-height: 500px;
  grid-template-columns: 1fr 1fr;
  border-left: solid #08415c 10px;
  border-top: solid #08415c 10px;
  border-radius: 15px;
  align-items: center;
  justify-items: center;
  font-size: 0.6em;
}

.welcome {
  background: url(images/storm-1209365_1280.jpg) no-repeat center;
  grid-template-areas: "header  header" 
                       ".       ."
                       ".       ."
                       "score   score"
                       "nav     nav"
                       "login   login"
                       ;
  
}

.journey {
  background: white;
  grid-template-areas: "header header"
                      ".       ." 
                       "main   main"
                       "main2  main2"
                       "footer footer";
  
}

.leaderboard {
  background: white;
  grid-template-areas: "header header"
                       "qbox   qbox" 
                       "qbox   qbox"
                       "qbox   qbox"
                       "footer footer";
  
}

.clue {
  background: white;
  grid-template-areas: "header header"
                       "qbox   qbox" 
                       "qbox   qbox"
                       "qbox   qbox"
                       "footer footer";
  
}

.end {
  background: white;
  grid-template-areas: "header header"
                       "qbox   qbox" 
                       "qbox   qbox"
                       "qbox   qbox"
                       "footer footer";
}

.game{
  background: white;
  grid-template-areas: "header header"
                       "nav1   nav2"
                       "clue   points"
                       "higher higher"
                       "qbox   qbox"
                       "lower  lower"
                       "footer footer";
  
}

/* CSS FOR BUTTON ANIMATIONS */



/* @media (min-width: 640px) {
.grid{
  max-width: 940px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr 1fr 1fr;
  min-height: 800px;
  border-left: solid #08415c 10px;
  border-top: solid #08415c 10px;
  border-radius: 15px;
  align-items: center;
  justify-items: center;
}

GOES East satellite image of Hurricane Florence [Image] (2018). 
Retrieved from https://thesoufancenter.org/intelbrief-national-insecurity-amid-natural-disasters/
.welcome {
  background: url(images/storm-1209365_1280.jpg) no-repeat center;
  grid-template-areas: "header  header  header  header" 
                       ".       .       .       ."
                       ".       .       .       ."
                       ".       .       .       ."
                       "score   score   score   score"
                       "nav     nav     nav     nav"
                       "login   login   login   login"
                       ;
  
}

.journey {
  background: white;
  grid-template-areas: "nav1   header header nav2"
                      ".       .      .      ." 
                       "main   main   main   main"
                       "main2  main2  main2  main2"
                       "footer footer footer footer";
  
}

.leaderboard {
  background: white;
  grid-template-areas: "header header header header"
                       "qbox   qbox   qbox   qbox" 
                       "qbox   qbox   qbox   qbox"
                       "qbox   qbox   qbox   qbox"
                       "footer footer footer footer";
  
}

.clue {
  background: white;
  grid-template-areas: "header header header header"
                       "qbox   qbox   qbox   qbox" 
                       "qbox   qbox   qbox   qbox"
                       "qbox   qbox   qbox   qbox"
                       "footer footer footer footer";
  
}

.end {
  background: white;
  grid-template-areas: "header header header header"
                       "qbox   qbox   qbox   qbox" 
                       "qbox   qbox   qbox   qbox"
                       "qbox   qbox   qbox   qbox"
                       "footer footer footer footer";
  
}


.game{
  background: white;
  grid-template-areas: "nav1   header header nav2" 
                       "clue   clue   points points"
                       ".      higher higher ."
                       "qbox   qbox   qbox   qbox"
                       ".      lower  lower  ."
                       "footer footer footer footer";
  
} */

/* CSS FOR BUTTON ANIMATIONS */
/* 
.button {
  height:100px;
  width: 200px;
  padding: 10px 10px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border:#3891a6 solid;
  border-radius: 15px;
  box-shadow: 0 7px #999;   
  font-weight: bolder;
 }

.button:hover {background-color: #535753}
 
.button:active {
   background-color: #535753;
   box-shadow: 0 10px rgb(179, 179, 179);
   transform: translateY(4px);
 }

} */

/*FREQUENTLY USED ELEMENTS OR BUTTONS */
/* header {
  grid-area: header;
  border-bottom:#3891a6 solid 5px;
}

.prev{
  grid-area: nav1;
}

.next{
  grid-area: nav2;
}

.footer{
  grid-area: footer;
}

.fa-question{
  grid-area: clue;
}

.points {
  grid-area: points;
}

.quizbox {
  grid-area: qbox;
  border:#3891a6 solid;
  border-radius: 15px;
  margin: 5px;
  
} */

/*ONCE OFF BUTTONS*/
/* .higher{
  grid-area: higher;
}

#lower{
  grid-area: lower;
}

#start_journey {
  grid-area: nav;
}

#playgame {
  grid-area:main;
}

#browsecontent {
  grid-area: main2;
} */
