*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
  }

h1, h2{
color: #08415c;
}

h3{
  color: #08415c;
}

.wrapper{
  min-height: 100vh;
  border-left: solid #08415c 13px;
  border-top: solid #08415c 13px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.1fr;
  grid-gap: 0px;
}

.box {
    /* background-color: lightgray; */
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
}

.btnbox{
  display: grid;
  margin-top: 5%;
  grid-gap: 2vh;
  align-content: space-evenly;
  justify-content: center;
  text-align: center;
}

/* Front splash page CSS */
.welcomepg {
  min-height: 100vh;
  border-left: solid #08415c 10px;
  border-top: solid #08415c 10px;
  border-radius: 10px;
  position: relative;
  background: url("images/frontpage.png") no-repeat left top;
  background-size: cover;
}

.logo{
  position: absolute;
  right: 5%;
  bottom: 15%;
}

.begin{
  position: absolute;
  width: 241px;
  right: 5%;
  bottom:10%;
  text-align: right;
}

/* welcomemsg page CSS */
.welcomemsg{
  padding-top: 5%;
  padding-bottom: 10%;
}

.welcomebtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.continue{
  margin: 0;
  width: 150px;
  text-align: right;
}

.demo{
  margin: 0;
  width: 150px;
  text-align: left;
}

/* header CSS */
.header{
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: #08415c solid 0.3em;
    margin-bottom: 5%;
}

/* Footer CSS */
.ftr{
    padding-top: 3%;
    align-self: end;
}

ul.breadcrumb{
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  padding: 2% 0 2% 0;
  list-style: none;
  font-size: 0.5em;
  background-color: lightgray;
}

ul.breadcrumb li a {
  color:#08415c;
}

/* The light blue boxes that hold text information */
.infobox{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #d5ebf8;
    font-size: 0.8em;
    border-radius: 5px;
    text-align: center;
    padding: 5% 5% 5% 5%;
    margin-left: 8%;
    margin-right: 8%;
}

.endingpg > .infobox{
  margin-top: 10%;
  margin-bottom: 10%;
}

.cluepage > .infobox{
  margin-top: 9%;
}
/* Specific boxes */
.login {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 3%;
}

.points{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}

.highlowbox{
    height: 2.2em;
    align-self: center;
    margin: 3% 8% 3% 8%;
}

.txtbox{
  margin-top: 5%;
  margin-bottom: 4%;
}

/* formating for input fields */
.input {
  border:#3891a6 solid;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 1%;
  width: 230px;
  height: 40px;
}

/* all the various buttons CSS */

a {
  text-decoration: none;
}

button{
  cursor: pointer;
  text-align: center;
  background-color:white;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bolder;
  border:#6ec9dd solid;
  /* box-shadow: 2px 3px darkgray; */
}

.button {
  width: 230px;
  height: 75px;
  color: black;
 }

 .nextbtn{
  width: 7em;
  font-size:1em;
  color: #08415c;
 }

 .cluepointbtn {
  font-size: 1em;
  border: none;
  color: #08415c;
  align-self: start;
  padding: 0px;
 }

 .hilobtn{
   width: 100%;
   height: 100%;
   border: darkgrey solid;
   box-shadow: none;
 }

 .idbutton {
  width: 230px;
  height: 50px;
  cursor: pointer;
  color: black;
}

.beginbtn{
  width: 400px;
  border: none;
  box-shadow: none;
}

/*James' Edits*/
#map {
	width: 70vw;
  height: 40vh;
  margin-top: 5%;
  margin-bottom:5%;
	background-color: white;
	box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
}
