* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 500;
  letter-spacing: 0;
  color: #08415c;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Muli', sans-serif;
}

body {
  opacity: 0;
  overflow-x: hidden;
}

body{
  min-height: 100vh;
  border-left: solid #08415c 20px;
  border-top: solid #08415c 20px;
}

html {
  text-rendering: optimizeLegibility;
}

/* Text Formatting */

h1{
  font-size: 1.5em;
}

.infobox > h1{
  padding: 3% 0 3% 0;
}

h2{
  font-size: 1.2em;
  padding-bottom: 0.5em;
}

p {
  font-size: 1em;
  margin: 0 0 5% 0;
  text-align: justify;
}

/* fontawesome icon formatting */
.fa-mobile-alt{
  color: white;
}

.white{
  color: white;
}


/* Page setup  */
.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.05fr 1fr 0.05fr;
  min-height: 100vh;
  overflow: scroll;
}

.gridwrap1{
  align-content: start;
}

.gridwraptitle{
  display: grid;
  grid-template-columns: 1fr;
  padding: 3% 0 0 0;
}

.gridwrap2{
  display: grid;
  padding: 3% 0 3% 0;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 1%;
  text-align: center;
}

.gridwrap3{
  display: grid;
  grid-template-columns: 1fr;
  align-content: end;
}

.box {
  text-align: center;
  margin: 0 8% 0 8%;
}

.txtbox{
  margin-top: 5%;
  margin-bottom: 5%;
}

.gamebox{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 8% 0 8%;
}

.titlebox{
  text-align: center;
  margin: 0 8% 0 8%;
}

.btnwrap{
  display: flex;
  justify-content: space-between;
}

.altbtnwrap{
  display: flex;
  justify-content: space-evenly;
}
.cntrbtnwrap{
  display: flex;
  justify-content: center;
}

.vertbtnwrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* all the various buttons CSS */
a,
a:hover {
  text-decoration: none;
}

button{
  cursor: pointer;
  text-align: center;
  background-color: transparent;
}

.largebtn {
  width: 230px;
  height: 75px;
  font-size: 25px;
  border-radius: 5px;
  border:#e89371 solid;
  background-color: #e89371;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 }

 .smallbtn{
   width: 130px;
   height: 50px;
   color: white;
   font-size: 18px;
   border-radius: 5px;
   border: #e89371 solid;
   background-color: #e89371;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
 }

 .cluepointbtn {
  font-size: 1em;
  border: none;
  align-self: start;
  padding: 0px;
 }

 .idbutton {
  width: 230px;
  height: 50px;
  cursor: pointer;
  color: black;
  margin: 3% 0 0 0;
}

.beginbtn{
  width: 400px;
  border: none;
  box-shadow: none;
}

.ftrbtn{
  border: none;
}

/* The light blue boxes that hold text information */
.infobox{
    display:flex;
    padding: 3%;
    flex-direction: column;
    justify-content: space-around;
    background-color: #d5ebf8;
    border-radius: 5px;
    margin: 0 8% 0 8%;
    overflow: hidden;
}

/* Footer CSS */
.tab{
  display: flex;
  font-size: 1.2em;
  border-radius: 0;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: lightgrey;
  z-index: 99;
}

.bcwrapper {
  display: none;
}

.breadcrumb {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: lightgrey;
}

.breadcrumb-item {
  flex-grow: 1;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 10px;
}

.footer-active{
  background-color: #e89371;
  color: white;
}

.fa-caret-up{
  transition: 0.5s;
  color: #e89371;
}

.flip {
  transform: rotate(-180deg);
}

/* Custom check box inputs */
.chbxcontainer{
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-items: left;
  padding-left: 10%;
  padding-bottom: 3%;
}

.chbxcontainer input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.mapcustchkbx {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: #e89371 solid;
  /* box-shadow: inset 0 0 10px #e89371; */
}

.chbxcontainer:hover input ~ .mapcustchkbx {
  background-color: #ccc;
}

.chbxcontainer input:checked ~ .mapcustchkbx {
  background-color: #e89371;
}

.mapcustchkbx:after {
  content: "";
  position: absolute;
  display: none;
}

.chbxcontainer .mapcustchkbx:after {
  left: 3px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.chbxcontainer input:checked ~ .mapcustchkbx:after {
  display: block;
}

/* header CSS */
.header{
    align-self: start;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: #e89371 solid 0.3em;
}

/* Front splash page CSS */
.welcomepg {
  min-height: 99vh;
  position: relative;
  background: url("images/frontpage.png") no-repeat top;
  background-size: cover;
}

.logo{
  position: absolute;
  right: 10%;
  bottom: 15%;
}

.begin{
  position: absolute;
  width: 241px;
  right: 10%;
  bottom:10%;
  text-align: right;
}

/* welcomemsg page CSS */
.continue{
  text-align: right;
}

.demoinfo{
  display: none;
}

#demogif{
  display: none;
}

.demogifimg{
  padding-bottom: 3%;
}

/* Specific boxes */
.login {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 3%;
}

.points{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

/* formating for input fields */
.input {
  border:#08415c solid;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 3%;
  width: 230px;
  height: 40px;
}

/*Map CSS*/
#map {
	/* width: 95vw; */
  height: 60vh;
	background-color: white;
  box-shadow: #e89371 0 3px 5px;
  margin: 3% 0 5% 0
}

.mapexit{
  display: none;
}
 
/* menu CSS (journey.php) */
.journey{
  justify-items: center;
  align-content: space-evenly;
}

/* Quiz Answer Box CSS */
#displayAnswer{
  text-align: center;
}

#quizpage{
  align-content: center;
}

.highbtn{
  border-color: #e89371 transparent;
	border-style: solid;
  border-width: 0 40vw 25vw 40vw;
  color: white;
  font-size: 2em;
  height: 0px;
  width: 0px;
  align-self: end;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;  
  line-height: 120px;
 }

 .lowbtn{
  border-color: #e89371 transparent;
	border-style: solid;
  border-width: 25vw 40vw 0vw 40vw;
  text-align: center;
  color: white;
  font-size: 2em;
  height: 0px;
  width: 0px;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center; 
  line-height: 120px;
 }

.cluebox{
  display: none;
}

.cluebox > p{
  padding: 0 3% 0 3%
}

.quizanswer{
  display: none;
  align-self: center;
  align-items: center;
}

.quizend{
  display: none;
  align-self: center;
  align-items: center;
}

.quizfinal{
  display: none;
  align-self: center;
  align-items: center;
}

.quizfinish{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8% 0 8%;
}

.quizclue{
  background-color: #d5ebf8;
  display: none;
  min-height: 65%; 
}

.qzright{
  background-color: #dcffdc;
}

.qzwrong{
  background-color: #ffdcdc;
}

.numCircle{
  background-color: #08415c;
  color: white;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px #e89371;
  font-size: 1.3em;
  font-weight: bold;
}

.smlNumCircle{
  background-color: #08415c;
  color: white;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px #e89371;
  font-size: 1.3em;
  font-weight: bold;
}

.disasterImage {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.finalbox > h1{
  text-align: left;
}

/* GUIDED TOUR CSS */
/* .tourbtns{
  display: flex;
  margin: 5% 8% 0 8%;
  justify-content: space-between;
  align-items: center;
  align-self: end;
} */

/* .tournavbtn{
  border: none;
  background: none;
  font-size: 1.5em;
} */

.gamestart{
  text-align: center;
}

.tourgraph{
  width: 75vw;
  height: 30vh;
  margin: 5% 0 5% 0;
}

.tourpages{
  align-content: center;
}

/* Leaderboard CSS */

.leaderbd{
  font-weight: bold;
}

.hidden{
  opacity: 0;
}

/* contribution bar graphic */

#Goal_board{
align-items: center;
text-align: center;

}    
#moneyProgress {
  width: 200px;
  height:50vh;
  background-image:url('images/thermo-removebg-preview (6).png');
  background-size: cover;
  transform: rotate(180deg);
  position: absolute;
  right: 40%;
}

#moneyBar {
  width: 20px;
  height: 10%;
  background-color: rgb(252, 0, 0);
  position: absolute;
  right: 20%;
}

#bar{
    position: absolute;
    bottom:5%;
}